<div class="story">
  <div class="row">
    <div class="story-header col-md-2">
      <div class="climb-square bk-{{color}}" data-climb-id="{{id}}">{{climb_type}}{{grade}}{{modifier}}</div>
    </div>
    <div class="story-body col-md-10">
      Holy shit check it out this worked!!!
      Wahooooooooooooo!!!
    </div>
  </div>
</div>
