<div class="new-climb-preview-square add-climbs climbNumber{{climbNumber}}" data-climb-id="{{climbNumber}}">
</div>
<fieldset class="add-climbs">
  <input type="hidden" class="form-control inputClimbColor climbNumber{{climbNumber}}" data-climb-id="{{climbNumber}}" name="climbs[][color]" value="">
  <input type="hidden" class="form-control inputClimbClimb_Type climbNumber{{climbNumber}}" data-climb-id="{{climbNumber}}" name="climbs[][climb_type]" value="">
  <input type="hidden" class="form-control inputClimbGrade climbNumber{{climbNumber}}" data-climb-id="{{climbNumber}}" name="climbs[][grade]" value="">
  <input type="hidden" class="form-control inputClimbModifier climbNumber{{climbNumber}}" data-climb-id="{{climbNumber}}" name="climbs[][modifier]" value="">
  <input type="hidden" class="form-control inputClimbBulletinId climbNumber{{climbNumber}}" data-climb-id="{{climbNumber}}" name="climbs[][bulletin_id]" value="">
  <input type="hidden" class="form-control inputClimbGym climbNumber{{climbNumber}}" data-climb-id="{{climbNumber}}" name="climbs[][gym_id]" value="{{gymId}}">
</fieldset>
